 <!-- About Section -->
    <section class="success" id="gallery">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Gallery</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
             <img src="img/portfolio/a1.jpg" class="img-responsive img-centered" alt="image-alt">
             <img src="img/portfolio/a2.jpg" class="img-responsive img-centered" alt="image-alt">
             <img src="img/portfolio/b1.jpg" class="img-responsive img-centered" alt="image-alt">
             <img src="img/portfolio/b2.jpg" class="img-responsive img-centered" alt="image-alt">
             <img src="img/portfolio/b3.jpg" class="img-responsive img-centered" alt="image-alt">
             
            </div>
        </div>
    </section>
