    <section id="profil">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Profil Sekolah</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
PROFIL TK ISLAM ABU DZAR
SEJARAH TAMAN KANAK-KANAK ISLAM ABU DZAR

TK Islam Abu Dzar berdiri sejak tahun 2008 di daerah Perigi dimulai dari menempati rumah yang dipinjamkan oleh seorang muhsinin. Dengan jumlah guru 2 orang dan jumlah anak didik kurang lebih 15 orang anak. Pada tahun 2009 sudah memiliki bangunan sendiri yang berlokasi di jalan Anggrek Pondok Pucung, jumlah siswa pada tahun ini meningkat menjadi 33 siswa, 4 orang guru, dan memiliki 2 ruang kelas. Alhamdulillah pada Tahun 2010 mengalami kenaikan jumlah siswa menjadi 53 orang dengan ruang kelas menjadi 3 buah, tahun 2011 53 orang dan pada tahun 2011 ini TK Islam Abu Dzar sudah memiliki Ijin Operasional . Tahun 2012 Jumlah 53 siswa. Karena peminat yang semakin banyak dari tahun ke tahun, maka pada tahun 2014 jumlah lokal TK ditambah di 2 lokasi. Lokasi Kelas TK A menetap di Jl. Anggrek Pondok Pucung dan Lokasi Kelas TK B di SD Islam Abu Dzar di Rawa Lele Jombang.



Alhamdulillah dengan seiringnya waktu pada tahun 2018 TK Islam Abu Dzar pindah dengan menempati bangunan yang lebih luas yaitu di Lokasi Poncol Sawah Baru. Dengan banyaknya jumlah peminat dan jumlah siswa yang semakin banyak maka kami selalu berusaha untuk sebaik mungkin untuk terus memperbaiki mutu pendidikan, baik itu dalam segi kurikulum, sarana dan prasarana, administrasi dan management agar dapat menghasilkan anak didik yang yang berkualitas dalam segi diniyah dan ilmu pengetahuan umum. Kami sangat menyadari masih banyak kekurangan, karena untuk mencapai sekolah yang mempunyai kualitas yang baik, sangat membutuhkan waktu yang lama. Dan dibutuhkan kesabaran dan dukungan dari semua pihak.



Untuk itu kami sangat mengharapkan kerjasamanya dalam hal mendidik anak-anak kita ataupun semua hal yang menyangkut pendidikan di tk Islam Abu Dzar ini. Dengan membangun kerjasama yang baik antara sekolah dan orang tua, InsyaAllah TK ini akan semakin baik dalam hal pendidikan dan dapat selaras dalam mendidik ananda menjadi anak yang berkualitas yang bermanhaj salaf, berkualitas dibidang diniyah(agama), berakhlak mulia, kreatif dan dapat membawa kebaikan bagi agama, orang tua, keluarga, dan lingkungan.



IDENTITAS SEKOLAH

Nama Sekolah : TK Islam Abu Dzar

NSS : 002286304093

NPSN : 69912521

Alamat Sekolah : Jl. Masjid Nurul Qomar No. 9 BC Serua Poncol, Kel. Sawah Baru, Ciputat

No. Telepon :

Waktu Belajar : 08.00 – 11.30 WIB

Didirikan Tahun : 2008

Status Kepemilikan : Milik Yayasan

Kota : Tangerang Selatan

Kabupaten : Tangerang

Propinsi : Banten



Keadaan Siswa tahun Ajaran 2019 - 2020

Jumlah Siswa : 113

TK A : 49

TK B : 65

Jam Belajar : 08.00 – 11.30 WIB



Keadaan Tenaga Kependidikan dan Staff Tahun Ajaran 2019-2019

Kepala Sekolah

Wakasek

TU : 1 Orang

Guru Kelas A : 4 orang

Guru Kelas B : 6 Orang

OB : 1 Orang

OG : 1 Orang

Satpam : 2 Orang
            
            </div>
        </div>
    </section>
