
    <!-- Portfolio Grid Section -->
    <section id="sekolah">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Identitas Sekolah</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                Nama Sekolah : TK Islam Abu Dzar

NSS : 002286304093

NPSN : 69912521

Alamat Sekolah : Jl. Masjid Nurul Qomar No. 9 BC Serua Poncol, Kel. Sawah Baru, Ciputat

No. Telepon :

Waktu Belajar : 08.00 – 11.30 WIB

Didirikan Tahun : 2008

Status Kepemilikan : Milik Yayasan

Kota : Tangerang Selatan

Kabupaten : Tangerang

Propinsi : Banten

            </div>
        </div>
    </section>
